@{
    ViewData["Title"] = "Home Page";
}

@model JuniorDotNetCheckIn

<div class="text-left">
    <form asp-controller="Home" asp-action="SubmitCheckIn" method="post">
        <h2 class="display-4">Check in form</h2>
        <div class="form-group">
            <label asp-for="Quarter">Quarter:</label>
            <input class="form-control" asp-for="Quarter" />
        </div>
        <div class="form-group">
            <label asp-for="ProjectUpdate">Update project:</label>
            <textarea class="form-control" asp-for="ProjectUpdate" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="GoalsUpdate">Update goals:</label>
            <textarea class="form-control" asp-for="GoalsUpdate" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="SoftwareCertificateUpdate">Achieved certificates:</label>
            <textarea class="form-control" asp-for="SoftwareCertificateUpdate" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="SoftwareTrainingNeeded">Do you need additional training?</label>
            <textarea class="form-control" asp-for="SoftwareTrainingNeeded" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="SeniorRoleModel">Is there a senior that stands out to you?</label>
            <textarea class="form-control" asp-for="SeniorRoleModel" rows="4"></textarea>
        </div>
        <button type="submit">Check in</button>
    </form>
</div>