@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <form asp-controller="Home" asp-action="RunProcess" method="post">
        <h2 class="display-4">Log checking</h2>
        <button type="submit">Log</button>
    </form>
</div>
